prune **

recursive-include src/static/**/*
recursive-include src/templates/*.jinja
graft src
graft src/static
graft src/templates

include LICENSE README.md pyproject.toml setup.py

global-exclude __pycache__ *.py[cod] .* dist