<!DOCTYPE html>
<html lang="en">
    <head><title>Landing Page of {{landingPageOf}}</title></head>
    <body>
        <h2>Landing Page of {{landingPageOf}} rendered with Jinja -</h2>
        <p>Here is the content of the landing page.</p>
    </body>
</html>